## Importing the data

In [18]:
import pandas as pd
insp = pd.read_csv("inspections.csv")
network = pd.read_csv("network.csv")
samplesub = pd.read_csv("sample_submission.csv")

In [19]:
network

,PipeId,Province,Town,YearBuilt,Material,GasType,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,BoolBridle
0,489616,Ciudad Real,Torralba de Calatrava,2012,PE,Gas natural,63.0,7.792,0.4,0,0,False
1,489645,Ciudad Real,Torralba de Calatrava,2012,PE,Gas natural,90.0,2.080,0.4,0,0,False
2,489646,Ciudad Real,Torralba de Calatrava,2012,PE,Gas natural,90.0,111.173,0.4,3,0,False
3,519950,Ciudad Real,Torralba de Calatrava,2012,PE,Gas natural,200.0,14.304,0.4,0,0,False
4,1332439,Ciudad Real,Torralba de Calatrava,2012,PE,Gas natural,160.0,22.669,0.4,1,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1446534,416536087,La Rioja,Baños de Rio Tobia,2011,AO,Gas natural,50.8,0.454,45.0,0,0,False
1446535,416536416,La Rioja,Baños de Rio Tobia,2011,AO,Gas natural,101.6,0.478,45.0,0,0,False
1446536,416536438,La Rioja,Baños de Rio Tobia,2011,AO,Gas natural,101.6,0.485,45.0,0,0,False
1446537,416536460,La Rioja,Baños de Rio Tobia,2011,AO,Gas natural,50.8,0.210,45.0,0,0,False
1446538,416536482,La Rioja,Baños de Rio Tobia,2011,AO,Gas natural,50.8,0.795,45.0,0,0,False

In [20]:
insp

,PipeId,MaintenanceId,InspectionYear,InspectionDate,MonthsLastRev,Severity,Incidence
0,189311802,ZRV-00001972,2010,2010-10-01,24,4,0
1,188889914,ZRV-00001406,2010,2010-10-01,22,4,0
2,188889907,ZRV-00001406,2010,2010-10-01,22,4,0
3,188673355,ZRV-00001406,2010,2010-10-01,22,4,0
4,188558922,ZRV-00001406,2010,2010-10-01,22,4,0
...,...,...,...,...,...,...,...
6345339,280560178,ZRV-00002112,2021,2020-12-31,23,4,0
6345340,274990683,ZRV-00002112,2021,2020-12-31,23,4,0
6345341,280560172,ZRV-00002112,2021,2020-12-31,23,4,0
6345342,274990921,ZRV-00002112,2021,2020-12-31,23,4,0
6345343,274990929,ZRV-00002112,2021,2020-12-31,23,4,0

## Merging the datasets

In [21]:
data = insp.merge(network, how='inner', on='PipeId')
data

df = pd.get_dummies(data['Province'])

# join the encoded dataframe with original dataframe
df = df.join(df)

,PipeId,MaintenanceId,InspectionYear,InspectionDate,MonthsLastRev,Severity,Incidence,Province,Town,YearBuilt,Material,GasType,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,BoolBridle
0,189311802,ZRV-00001972,2010,2010-10-01,24,4,0,Barcelona,Sentmenat,2001,PE,Gas natural,160.0,117.831,4.000,0,0,False
1,189311802,ZRV-00001972,2012,2012-10-01,24,4,0,Barcelona,Sentmenat,2001,PE,Gas natural,160.0,117.831,4.000,0,0,False
2,189311802,ZRV-00001972,2014,2014-10-08,24,4,0,Barcelona,Sentmenat,2001,PE,Gas natural,160.0,117.831,4.000,0,0,False
3,189311802,ZRV-00001972,2016,2016-10-14,24,4,0,Barcelona,Sentmenat,2001,PE,Gas natural,160.0,117.831,4.000,0,0,False
4,189311802,ZRV-00001972,2018,2018-10-09,24,4,0,Barcelona,Sentmenat,2001,PE,Gas natural,160.0,117.831,4.000,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6345339,56922448,ZRV-00004581,2020,2020-12-31,24,4,0,Valencia,Betera,1993,PE,Gas natural,63.0,1.237,4.000,0,0,False
6345340,56907425,ZRV-00004581,2020,2020-12-31,24,4,0,Valencia,Betera,2000,PE,Gas natural,160.0,169.732,4.000,1,0,False
6345341,7843615,ZRV-00002112,2021,2020-12-31,24,4,0,Barcelona,Sabadell,1995,FD,Gas natural,150.0,0.361,0.025,0,0,True
6345342,56922456,ZRV-00004581,2020,2020-12-31,24,4,0,Valencia,Betera,1993,PE,Gas natural,63.0,23.306,4.000,0,0,False
6345343,56922465,ZRV-00004581,2020,2020-12-31,24,4,0,Valencia,Betera,1993,PE,Gas natural,63.0,1.778,4.000,0,0,False

In [22]:
finalsub = samplesub.merge(network, how='inner', on='PipeId')
finalsub

keep_columns_sub = ['YearBuilt', 'Diameter', 'Length', 'Pressure', 'NumConnections', 'NumConnectionsUnder']
finalsub_simple = finalsub[keep_columns_sub]
finalsub_simple

,YearBuilt,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder
0,2012,110.0,44.286,0.150,0,0
1,2012,160.0,110.715,0.150,2,0
2,2012,110.0,13.575,0.150,0,0
3,2012,110.0,327.689,0.150,3,0
4,2007,200.0,932.762,0.150,0,0
...,...,...,...,...,...,...
909728,2004,110.0,7.656,0.025,0,0
909729,2004,110.0,4.383,0.025,2,0
909730,2004,110.0,2.292,0.025,1,0
909731,2004,90.0,87.809,4.000,0,0
909732,2004,160.0,2.325,4.000,0,0

## EDA

Counting the number of 0 and 1 and the rate

In [30]:
ones = (insp['Incidence'] == 1).sum()
ceros = (insp['Incidence'] == 0).sum()
rate = ones/len(insp) *100
print(str(round(rate,2))+'% of positive records')
ones

0.19% of positive records

12328

In [24]:
network.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1446539 entries, 0 to 1446538
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   PipeId               1446539 non-null  int64
 1   Province             1446539 non-null  object
 2   Town                 1446539 non-null  object
 3   YearBuilt            1446539 non-null  int64
 4   Material             1446539 non-null  object
 5   GasType              1446539 non-null  object
 6   Diameter             1446539 non-null  float64
 7   Length               1446539 non-null  float64
 8   Pressure             1446539 non-null  float64
 9   NumConnections       1446539 non-null  int64
 10  NumConnectionsUnder  1446539 non-null  int64
 11  BoolBridle           1446539 non-null  bool
dtypes: bool(1), float64(3), int64(4), object(4)
memory usage: 122.8+ MB

In [25]:
samplesub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909733 entries, 0 to 909732
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   PipeId     909733 non-null  int64
 1   Incidence  909733 non-null  int64
dtypes: int64(2)
memory usage: 13.9 MB

## Modeling

In [26]:
""" from sklearn.model_selection import train_test_split
from lazypredict.Supervised import LazyClassifier


X_train, X_test, y_train, y_test = train_test_split(data.loc[:, data.columns != "Incidence"], data["Incidence"], test_size=0.25, random_state=42)

clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(X_train, X_test, y_train, y_test)

print(models) """

' from sklearn.model_selection import train_test_split\nfrom lazypredict.Supervised import LazyClassifier\n\n\nX_train, X_test, y_train, y_test = train_test_split(data.loc[:, data.columns != "Incidence"], data["Incidence"], test_size=0.25, random_state=42)\n\nclf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)\nmodels,predictions = clf.fit(X_train, X_test, y_train, y_test)\n\nprint(models) '

In [27]:
keep_columns = ['YearBuilt', 'Diameter', 'Length', 'Pressure', 'NumConnections', 'NumConnectionsUnder','Incidence']
data_simple_for_logistic = data[keep_columns]

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_simple_for_logistic.loc[:, data_simple_for_logistic.columns != "Incidence"], data_simple_for_logistic["Incidence"], test_size=0.25, random_state=42)

# Making the small balanced

In [34]:
df = data_simple_for_logistic
df = df.sample(frac=1)
fraud_df = df.loc[df['Incidence'] == 1]
non_fraud_df = df.loc[df['Incidence'] == 0][:12328]
normal_distributed_df = pd.concat([fraud_df, non_fraud_df])
new_df = normal_distributed_df.sample(frac=1, random_state=42)
new_df.sample(3)

,YearBuilt,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,Incidence
6092245,1999,40.0,266.055,1.7,12,0,1
4813440,1981,203.2,265.631,16.0,0,0,0
3783668,2008,160.0,24.068,4.0,0,0,0

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import roc_auc_score

X_train, X_test, y_train, y_test = train_test_split(new_df.loc[:, new_df.columns != "Incidence"], new_df["Incidence"], test_size=0.25, random_state=42)

# Convert the training and test sets into DMatrix objects for XGBoost
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

# Define the grid of hyperparameters to search
params = {
    'max_depth': [3, 5, 7],
    'learning_rate': [0.1, 0.2, 0.3],
    'n_estimators': [100, 200, 300]
}

# Perform grid search with cross-validation
xgb_clf = xgb.XGBClassifier()
grid_search = GridSearchCV(xgb_clf, params, cv=5, scoring='roc_auc')
grid_search.fit(X_train, y_train)

# Print the best parameters and the best AUC score
print("Best parameters: ", grid_search.best_params_)
print("Best AUC score: ", grid_search.best_score_)

# Evaluate the model on the test set
y_pred = grid_search.predict_proba(X_test)[:, 1]
auc = roc_auc_score(y_test, y_pred)
print("Test set AUC: ", auc)

results_1 = grid_search.predict(finalsub_simple)

Best parameters:  {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100}
Best AUC score:  0.8934023457746235
Test set AUC:  0.8953290909617476

In [ ]:
samplesub

           PipeId  Incidence
0       446859944          0
1       428124500          0
2       438428871          0
3       429034569          0
4       411184477          0
...           ...        ...
909728  235426649          0
909729  235426673          0
909730  235426707          0
909731  190956601          0
909732  228228379          0

[909733 rows x 2 columns]

In [37]:
results1df = pd.DataFrame(results_1)

In [38]:
results1df = pd.DataFrame(results_1)

samplesub_sub = samplesub.drop(columns = "Incidence")

finalfinal = samplesub_sub.merge(results1df, left_index = True,right_index=True)
finalfinal.rename(columns={0: "Incidence"}, inplace=True)
finalfinal

           PipeId  Incidence
0       446859944          0
1       428124500          0
2       438428871          0
3       429034569          0
4       411184477          0
...           ...        ...
909728  235426649          0
909729  235426673          0
909730  235426707          0
909731  190956601          0
909732  228228379          0

[909733 rows x 2 columns]

In [39]:
import numpy as np
finalfinal.to_csv("XGBoostCV.csv", index=False)