## Load libs

In [5]:
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.decomposition import TruncatedSVD
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV, train_test_split
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import roc_auc_score

## Import data

In [6]:
insp = pd.read_csv("inspections.csv")
network = pd.read_csv("network.csv")
samplesub = pd.read_csv("sample_submission.csv")

In [7]:
insp.head(3)

,PipeId,MaintenanceId,InspectionYear,InspectionDate,MonthsLastRev,Severity,Incidence
0,189311802,ZRV-00001972,2010,2010-10-01,24,4,0
1,188889914,ZRV-00001406,2010,2010-10-01,22,4,0
2,188889907,ZRV-00001406,2010,2010-10-01,22,4,0

In [8]:
network.head(3)

,PipeId,Province,Town,YearBuilt,Material,GasType,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,BoolBridle
0,489616,Ciudad Real,Torralba de Calatrava,2012,PE,Gas natural,63.0,7.792,0.4,0,0,False
1,489645,Ciudad Real,Torralba de Calatrava,2012,PE,Gas natural,90.0,2.080,0.4,0,0,False
2,489646,Ciudad Real,Torralba de Calatrava,2012,PE,Gas natural,90.0,111.173,0.4,3,0,False

In [9]:
samplesub.head(3)

      PipeId  Incidence
0  446859944          0
1  428124500          0
2  438428871          0

## Create our full features

In [10]:
df = pd.get_dummies(network['Province'])

# join the encoded dataframe with original dataframe
network = network.join(df)

df1 = pd.get_dummies(network['GasType'])

# join the encoded dataframe with original dataframe
network = network.join(df1)

df2 = pd.get_dummies(network['BoolBridle'])

# join the encoded dataframe with original dataframe
network = network.join(df2)

df3 = pd.get_dummies(network['Material'])

# join the encoded dataframe with original dataframe
network = network.join(df3)

network = network.drop(columns=['GasType', 'BoolBridle', 'Material',"Province","Town"])

In [11]:
network.head(3)

,PipeId,YearBuilt,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,Albacete,Alicante,Almeria,...,CU,FD,FG,FI,FO,PA,PE,PN,PV,ZD
0,489616,2012,63.0,7.792,0.4,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,489645,2012,90.0,2.080,0.4,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,489646,2012,90.0,111.173,0.4,3,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [12]:
data = insp.merge(network, how='inner', on='PipeId')
data

,PipeId,MaintenanceId,InspectionYear,InspectionDate,MonthsLastRev,Severity,Incidence,YearBuilt,Diameter,Length,...,CU,FD,FG,FI,FO,PA,PE,PN,PV,ZD
0,189311802,ZRV-00001972,2010,2010-10-01,24,4,0,2001,160.0,117.831,...,0,0,0,0,0,0,1,0,0,0
1,189311802,ZRV-00001972,2012,2012-10-01,24,4,0,2001,160.0,117.831,...,0,0,0,0,0,0,1,0,0,0
2,189311802,ZRV-00001972,2014,2014-10-08,24,4,0,2001,160.0,117.831,...,0,0,0,0,0,0,1,0,0,0
3,189311802,ZRV-00001972,2016,2016-10-14,24,4,0,2001,160.0,117.831,...,0,0,0,0,0,0,1,0,0,0
4,189311802,ZRV-00001972,2018,2018-10-09,24,4,0,2001,160.0,117.831,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6345339,56922448,ZRV-00004581,2020,2020-12-31,24,4,0,1993,63.0,1.237,...,0,0,0,0,0,0,1,0,0,0
6345340,56907425,ZRV-00004581,2020,2020-12-31,24,4,0,2000,160.0,169.732,...,0,0,0,0,0,0,1,0,0,0
6345341,7843615,ZRV-00002112,2021,2020-12-31,24,4,0,1995,150.0,0.361,...,0,1,0,0,0,0,0,0,0,0
6345342,56922456,ZRV-00004581,2020,2020-12-31,24,4,0,1993,63.0,23.306,...,0,0,0,0,0,0,1,0,0,0
6345343,56922465,ZRV-00004581,2020,2020-12-31,24,4,0,1993,63.0,1.778,...,0,0,0,0,0,0,1,0,0,0

In [13]:
insp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6345344 entries, 0 to 6345343
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   PipeId          int64
 1   MaintenanceId   object
 2   InspectionYear  int64
 3   InspectionDate  object
 4   MonthsLastRev   int64
 5   Severity        int64
 6   Incidence       int64
dtypes: int64(5), object(2)
memory usage: 338.9+ MB

In [14]:
data = data.drop(columns=["MaintenanceId","InspectionYear","InspectionDate","MonthsLastRev","Severity"], axis = 1)
data

,PipeId,Incidence,YearBuilt,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,Albacete,Alicante,...,CU,FD,FG,FI,FO,PA,PE,PN,PV,ZD
0,189311802,0,2001,160.0,117.831,4.000,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,189311802,0,2001,160.0,117.831,4.000,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,189311802,0,2001,160.0,117.831,4.000,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,189311802,0,2001,160.0,117.831,4.000,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,189311802,0,2001,160.0,117.831,4.000,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6345339,56922448,0,1993,63.0,1.237,4.000,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6345340,56907425,0,2000,160.0,169.732,4.000,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6345341,7843615,0,1995,150.0,0.361,0.025,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6345342,56922456,0,1993,63.0,23.306,4.000,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6345343,56922465,0,1993,63.0,1.778,4.000,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

## Create the data

In [15]:
finalsub = samplesub.merge(network, how='left', on='PipeId')
finalsub = finalsub.drop(columns="Incidence")
finalsub

,PipeId,YearBuilt,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,Albacete,Alicante,Almeria,...,CU,FD,FG,FI,FO,PA,PE,PN,PV,ZD
0,446859944,2012,110.0,44.286,0.150,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,428124500,2012,160.0,110.715,0.150,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,438428871,2012,110.0,13.575,0.150,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,429034569,2012,110.0,327.689,0.150,3,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,411184477,2007,200.0,932.762,0.150,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909728,235426649,2004,110.0,7.656,0.025,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
909729,235426673,2004,110.0,4.383,0.025,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
909730,235426707,2004,110.0,2.292,0.025,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
909731,190956601,2004,90.0,87.809,4.000,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
909732,228228379,2004,160.0,2.325,4.000,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

## SMOTE

In [17]:
from imblearn.over_sampling import SMOTE

X = data.drop('Incidence', axis=1)
y = data['Incidence']

# Instantiate SMOTE
smote = SMOTE()

# Apply SMOTE to your dataset
X_resampled, y_resampled = smote.fit_resample(X, y)

c:\Users\zonca\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['bool', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [21]:
y_resampled.value_counts()

0    6333016
1    6333016
Name: Incidence, dtype: int64

In [19]:
y_resampled

0           0
1           0
2           0
3           0
4           0
           ..
12666027    1
12666028    1
12666029    1
12666030    1
12666031    1
Name: Incidence, Length: 12666032, dtype: int64

In [26]:
data_resampledful = X_resampled.merge(y_resampled, left_index=True,right_index=True)

In [27]:
data_resampledful

,PipeId,YearBuilt,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,Albacete,Alicante,Almeria,...,FD,FG,FI,FO,PA,PE,PN,PV,ZD,Incidence
0,189311802,2001,160.0000,117.831000,4.000,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,189311802,2001,160.0000,117.831000,4.000,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,189311802,2001,160.0000,117.831000,4.000,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,189311802,2001,160.0000,117.831000,4.000,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,189311802,2001,160.0000,117.831000,4.000,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12666027,30828159,2016,40.0000,56.542205,0.150,7,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
12666028,29695962,2015,40.0000,192.880964,1.700,9,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
12666029,22449075,2015,63.0000,64.138566,2.000,2,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
12666030,189432273,1985,110.0000,64.840499,0.025,3,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
12666031,30049920,2016,70.6948,347.483169,1.700,3,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

### Undersampling

In [28]:
df = data_resampledful.sample(frac=1)
incidence_df = df.loc[df['Incidence'] == 1][:40000]
non_incidence_df = df.loc[df['Incidence'] == 0][:40000]
normal_distributed_df = pd.concat([incidence_df, non_incidence_df])
new_df = normal_distributed_df.sample(frac=1, random_state=42)
new_df

,PipeId,YearBuilt,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,Albacete,Alicante,Almeria,...,FD,FG,FI,FO,PA,PE,PN,PV,ZD,Incidence
17809,189947025,2002,90.000000,44.050000,0.100000,5,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
421257,275063315,2005,110.000000,1.700000,0.150000,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1143297,188112629,1991,110.000000,30.418000,0.100000,2,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5286841,190033484,2002,101.600000,120.553000,45.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2990090,277331710,1992,90.000000,9.787000,4.000000,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8973483,188018480,1984,98.166968,49.324117,1.025772,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1020360,271981591,2007,110.000000,143.568000,4.000000,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1160085,190987124,1992,200.000000,8.562000,0.025000,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
8564060,30351078,2016,40.000000,106.835264,1.700000,2,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
9737731,432205024,2007,42.184271,24.867912,9.330249,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# Hypertune the model

In [29]:
X_train, X_test, y_train, y_test = train_test_split(new_df.loc[:, new_df.columns != "Incidence"], new_df["Incidence"], test_size=0.2, random_state=42)

In [31]:
import optuna

In [32]:
#USING OPTUNA TO GET THE BEST PARAMS
def objective(trial):
    # Define the hyperparameters to search over
    params = {
        'n_estimators': trial.suggest_int('n_estimators', 50, 1000, step=50),
        'max_depth': trial.suggest_int('max_depth', 2, 10),
        'learning_rate': trial.suggest_float('learning_rate', 0.001, 0.1),
        'subsample': trial.suggest_float('subsample', 0.5, 1.0),
        'colsample_bytree': trial.suggest_float('colsample_bytree', 0.5, 1.0),
        'gamma': trial.suggest_float('gamma', 0, 10),
        'min_child_weight': trial.suggest_int('min_child_weight', 1, 10),
    }
    
    # Train an XGBoost classifier with the specified hyperparameters
    clf = xgb.XGBClassifier(**params)
    clf.fit(X_train, y_train)
    
    # Calculate the auc on the test set
    y_pred = clf.predict(X_test)
    auc_res = roc_auc_score(y_test, y_pred)
    
    # Return the accuracy as the objective value for Optuna to optimize
    return auc_res

# Use Optuna to search for the best hyperparameters
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=10)

# Print the best hyperparameters found by Optuna
print(f'Best parameters: {study.best_params}')
print(f'Best auc: {study.best_value:.3f}')

[I 2023-02-19 11:40:35,927] A new study created in memory with name: no-name-2e9b4a43-10f8-4764-a456-6ded4e67475f
[I 2023-02-19 11:41:03,451] Trial 0 finished with value: 0.9608785618614452 and parameters: {'n_estimators': 750, 'max_depth': 8, 'learning_rate': 0.07872370673469276, 'subsample': 0.8042727399203574, 'colsample_bytree': 0.8331595047059349, 'gamma': 6.348057633779575, 'min_child_weight': 4}. Best is trial 0 with value: 0.9608785618614452.
[I 2023-02-19 11:41:21,452] Trial 1 finished with value: 0.9318543619434042 and parameters: {'n_estimators': 1000, 'max_depth': 3, 'learning_rate': 0.019091054631446412, 'subsample': 0.9517907855740648, 'colsample_bytree': 0.8128718227688623, 'gamma': 4.6596784417448625, 'min_child_weight': 7}. Best is trial 0 with value: 0.9608785618614452.
[I 2023-02-19 11:41:42,287] Trial 2 finished with value: 0.9452570895941279 and parameters: {'n_estimators': 950, 'max_depth': 4, 'learning_rate': 0.027539144854110693, 'subsample': 0.9497045924743235, 'colsample_bytree': 0.7923988224695173, 'gamma': 8.223767302492096, 'min_child_weight': 6}. Best is trial 0 with value: 0.9608785618614452.
[I 2023-02-19 11:42:05,265] Trial 3 finished with value: 0.9580032448577456 and parameters: {'n_estimators': 650, 'max_depth': 9, 'learning_rate': 0.047334630904972426, 'subsample': 0.8733364645101167, 'colsample_bytree': 0.5132989495862134, 'gamma': 7.890229073045133, 'min_child_weight': 10}. Best is trial 0 with value: 0.9608785618614452.
[I 2023-02-19 11:42:15,840] Trial 4 finished with value: 0.9587638287121156 and parameters: {'n_estimators': 250, 'max_depth': 9, 'learning_rate': 0.08829961917599541, 'subsample': 0.7491189019643363, 'colsample_bytree': 0.9448734289351668, 'gamma': 5.261500022581781, 'min_child_weight': 4}. Best is trial 0 with value: 0.9608785618614452.
[I 2023-02-19 11:42:34,708] Trial 5 finished with value: 0.9601350423884233 and parameters: {'n_estimators': 600, 'max_depth': 7, 'learning_rate': 0.055819043494096734, 'subsample': 0.5322082202727867, 'colsample_bytree': 0.8353657378075221, 'gamma': 0.5151121533461456, 'min_child_weight': 8}. Best is trial 0 with value: 0.9608785618614452.
[I 2023-02-19 11:42:39,527] Trial 6 finished with value: 0.938209062549146 and parameters: {'n_estimators': 300, 'max_depth': 3, 'learning_rate': 0.08020503608171076, 'subsample': 0.9772277595129916, 'colsample_bytree': 0.5775124468653382, 'gamma': 9.741341690239484, 'min_child_weight': 6}. Best is trial 0 with value: 0.9608785618614452.
[I 2023-02-19 11:42:47,995] Trial 7 finished with value: 0.952089374103495 and parameters: {'n_estimators': 300, 'max_depth': 6, 'learning_rate': 0.056856121862518226, 'subsample': 0.9793994285069365, 'colsample_bytree': 0.6023478952160398, 'gamma': 1.2287417017053759, 'min_child_weight': 2}. Best is trial 0 with value: 0.9608785618614452.
[I 2023-02-19 11:43:03,148] Trial 8 finished with value: 0.9518854453703521 and parameters: {'n_estimators': 850, 'max_depth': 3, 'learning_rate': 0.06606353202961687, 'subsample': 0.8787296330489471, 'colsample_bytree': 0.9821942527866683, 'gamma': 2.862577722317148, 'min_child_weight': 4}. Best is trial 0 with value: 0.9608785618614452.
[I 2023-02-19 11:43:14,220] Trial 9 finished with value: 0.9537962497865391 and parameters: {'n_estimators': 550, 'max_depth': 5, 'learning_rate': 0.056275323863612704, 'subsample': 0.5055687413120763, 'colsample_bytree': 0.6163006257781194, 'gamma': 6.761191382503209, 'min_child_weight': 7}. Best is trial 0 with value: 0.9608785618614452.

Best parameters: {'n_estimators': 750, 'max_depth': 8, 'learning_rate': 0.07872370673469276, 'subsample': 0.8042727399203574, 'colsample_bytree': 0.8331595047059349, 'gamma': 6.348057633779575, 'min_child_weight': 4}
Best auc: 0.961

In [37]:
X_test

,PipeId,YearBuilt,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,Albacete,Alicante,Almeria,...,CU,FD,FG,FI,FO,PA,PE,PN,PV,ZD
6636264,5855078,2013,51.577926,148.727982,3.778090,7,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
27465,190631615,2003,90.000000,11.618000,0.150000,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7347766,30314924,2007,126.971955,130.471800,1.839290,10,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
918136,316628888,1995,160.000000,4.688000,0.025000,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7425842,186016134,2008,42.956140,15.778728,0.147537,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4548891,403801319,2011,110.000000,54.337000,4.000000,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
10235242,132918536,1932,63.000000,79.374955,4.000000,5,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7433152,186503199,2019,25.400000,78.464453,1.700000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
980797,37298629,1999,110.000000,14.682000,0.150000,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
11647184,30867685,2016,40.000000,93.647372,1.700000,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [40]:
from xgboost import XGBClassifier
X_full = pd.concat([X_train,X_test])
y_full = pd.concat([y_train,y_test])

In [51]:
my_model = XGBClassifier(n_estimators = 750, objective='binary:logistic',max_depth = 8, learning_rate= 0.07872370673469276, subsample= 0.8042727399203574, colsample_bytree= 0.8331595047059349, gamma= 6.348057633779575, min_child_weight= 4)
my_model.fit(X_full, y_full)

KeyboardInterrupt:

## Predict the kaggle results

In [92]:
results_1 = MODELAAAA.predict(finalsub)
results1df = pd.DataFrame(results_1)
results1df = pd.DataFrame(results_1)

samplesub_sub = samplesub.drop(columns = "Incidence")

finalfinal = samplesub_sub.merge(results1df, left_index = True,right_index=True)
finalfinal.rename(columns={0: "Incidence"}, inplace=True)
finalfinal

           PipeId  Incidence
0       446859944          0
1       428124500          0
2       438428871          0
3       429034569          0
4       411184477          0
...           ...        ...
909728  235426649          0
909729  235426673          0
909730  235426707          0
909731  190956601          0
909732  228228379          0

[909733 rows x 2 columns]

## Create the submission file

In [93]:
finalfinal.to_csv("SMOTEOPTUNA.csv", index=False)